.NewProductHome {
  padding: 50px 0;
}
.NewProductHome .container .head-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 30px;
  margin-bottom: 30px;
}
.NewProductHome .container .head-section h1 {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 10px;
}
.NewProductHome .container .head-section h1:before {
  content: "";
  height: 3px;
  width: 50%;
  background-color: var(--red-color);
  position: absolute;
  bottom: 0;
  left: 0;
}
.NewProductHome .container .head-section ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.NewProductHome .container .head-section ul li {
  padding-bottom: 5px;
  cursor: pointer;
  position: relative;
}
.NewProductHome .container .head-section ul li::before {
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--red-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.NewProductHome .container .head-section ul li:hover:before,
.NewProductHome .container .head-section ul li.active:before {
  width: 100%;
}
.NewProductHome .container .all-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px 20px;
}
@media (max-width: 768px) {
  .NewProductHome .container .all-cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (max-width: 768px) {
  .NewProductHome .container .head-section {
    align-items: center;
    justify-content: center;
  }
  .NewProductHome .container .head-section h1 {
    font-size: 20px;
  }
  .NewProductHome .container .head-section ul {
    justify-content: center;
  }
  .NewProductHome .container .head-section ul li {
    font-size: 14px;
  }
}
