@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cookie&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "leaflet/dist/leaflet.css";
:root {
  --dark-color: #111111;
  --red-color: #ca1515;
  --white-color: #ffffff;
  --gray-color: #666666;

  --montserrat-font: "Montserrat", sans-serif;
  --comic-font: "Comic Neue", cursive;
  --cookie-font: "Cookie", cursive;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--montserrat-font);
  color: var(--dark-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* ==========================
====*** Container Size ***====
=============================*/
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* ==========================
====*** Main button ***====
=============================*/

.main-button {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  position: relative;
  cursor: pointer;
}
.main-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--red-color);
  transition: 0.3s;
}
